In [5]:
import pandas_datareader as wb
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [6]:

# 코스피지수 크롤링
#약 3년치 데이터를 크롤링해 옴
start = datetime.datetime(2019, 8, 1)
end = datetime.datetime(2022, 8, 1)

# ^KS11 : 코스피
df_null = wb.DataReader("^KS11","yahoo",start,end)

# 결측치 제거
df = df_null.dropna()

# Close와 Adj Close는 중복되는 columns인것을 확인 함
# Adj Close열을 제거
df.drop(["Adj Close"],axis=1, inplace=True)

# 새로운 칼럼 생성
# (Price : 당일 대비 다음날 주가가 상승했으면 1, 하락했으면 0 표시)
df['Price'] = 0
for i in range(len(df)-1):
    if df['Close'][i] < df['Close'][i+1]:
        df['Price'][i] = 1
    else:
        df['Price'][i] = 0

# columns명을 알기 쉽게 한글로 변경
df.columns = ["최고가", "최저가" , "시작가", "종가", "거래량" , "등락"]

# 파일 저장
df.to_csv('kospi_주가데이터.csv',encoding='utf-8-sig')
df

/var/folders/3h/jprthrkx73n0d9pl0mgr0kqm0000gn/T/ipykernel_82322/2642073490.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'][i] = 0
/var/folders/3h/jprthrkx73n0d9pl0mgr0kqm0000gn/T/ipykernel_82322/2642073490.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'][i] = 1

                    최고가          최저가          시작가           종가     거래량  등락
Date
2019-08-01  2032.229980  2009.329956  2015.089966  2017.339966  461700   0
2019-08-02  2005.310059  1987.119995  1995.310059  1998.130005  438500   0
2019-08-05  1987.640015  1945.390015  1985.930054  1946.979980  639600   0
2019-08-06  1948.530029  1891.810059  1900.359985  1917.500000  739600   0
2019-08-07  1929.290039  1901.609985  1925.329956  1909.709961  760800   1
...                 ...          ...          ...          ...     ...  ..
2022-07-26  2415.389893  2395.169922  2397.270020  2412.959961  415100   1
2022-07-27  2415.530029  2396.189941  2412.520020  2415.530029  333400   1
2022-07-28  2443.429932  2429.070068  2437.570068  2435.270020  490900   1
2022-07-29  2463.050049  2442.010010  2453.530029  2451.500000  499000   1
2022-08-01  2461.399902  2437.129883  2444.050049  2452.250000  487000   0

[739 rows x 6 columns]

In [7]:
# 등락 값이 "0"인 데이터와 "1"인 데이터를 나눠서 리스트화
# 여기서 리스트화 하는 이유는 다음날 주가가 하락한 경우의 뉴스 타이틀과 상승한 뉴스타이틀을 크롤링해 분류하기 위함
price_data = pd.read_csv('kospi_주가데이터.csv')

#주가가 하락한 경우의 Date 데이터 리스트 date_0
df_0 = price_data[price_data['등락']==0]['Date']
date_0 = []
for i in range(0,len(df_0)):
    date_0.append(str(df_0.tolist()[i])[:10].replace('-',''))

#주가가 상승한 경우의 Date 데이터 리스트 date_1
df_1 = price_data[price_data['등락']==1]['Date']
date_1 = []
for i in range(0,len(df_1)):
    date_1.append(str(df_1.tolist()[i])[:10].replace('-',''))

date_1

['20190807',
 '20190808',
 '20190809',
 '20190813',
 '20190816',
 '20190819',
 '20190820',
 '20190826',
 '20190827',
 '20190829',
 '20190830',
 '20190903',
 '20190904',
 '20190905',
 '20190906',
 '20190909',
 '20190910',
 '20190911',
 '20190916',
 '20190917',
 '20190918',
 '20190919',
 '20190920',
 '20190923',
 '20190925',
 '20190927',
 '20190930',
 '20191004',
 '20191007',
 '20191010',
 '20191011',
 '20191014',
 '20191015',
 '20191018',
 '20191021',
 '20191023',
 '20191024',
 '20191025',
 '20191030',
 '20191031',
 '20191101',
 '20191104',
 '20191105',
 '20191106',
 '20191111',
 '20191113',
 '20191114',
 '20191121',
 '20191122',
 '20191126',
 '20191129',
 '20191205',
 '20191206',
 '20191209',
 '20191210',
 '20191211',
 '20191212',
 '20191216',
 '20191218',
 '20191219',
 '20191224',
 '20191226',
 '20200102',
 '20200106',
 '20200108',
 '20200109',
 '20200110',
 '20200113',
 '20200115',
 '20200116',
 '20200117',
 '20200121',
 '20200128',
 '20200203',
 '20200204',
 '20200205',
 '20200210',
 '20200211',
 '20200213',
 '20200218',
 '20200224',
 '20200228',
 '20200302',
 '20200303',
 '20200304',
 '20200309',
 '20200319',
 '20200323',
 '20200324',
 '20200326',
 '20200330',
 '20200401',
 '20200402',
 '20200403',
 '20200406',
 '20200408',
 '20200409',
 '20200413',
 '20200416',
 '20200421',
 '20200422',
 '20200424',
 '20200427',
 '20200428',
 '20200504',
 '20200507',
 '20200512',
 '20200514',
 '20200515',
 '20200518',
 '20200519',
 '20200520',
 '20200522',
 '20200525',
 '20200526',
 '20200528',
 '20200529',
 '20200601',
 '20200602',
 '20200603',
 '20200604',
 '20200605',
 '20200608',
 '20200609',
 '20200615',
 '20200616',
 '20200618',
 '20200622',
 '20200623',
 '20200625',
 '20200629',
 '20200701',
 '20200702',
 '20200703',
 '20200708',
 '20200710',
 '20200714',
 '20200716',
 '20200720',
 '20200724',
 '20200727',
 '20200728',
 '20200729',
 '20200731',
 '20200803',
 '20200804',
 '20200805',
 '20200806',
 '20200807',
 '20200810',
 '20200811',
 '20200812',
 '20200818',
 '20200820',
 '20200821',
 '20200824',
 '20200825',
 '20200827',
 '20200831',
 '20200901',
 '20200902',
 '20200904',
 '20200907',
 '20200909',
 '20200910',
 '20200911',
 '20200914',
 '20200917',
 '20200922',
 '20200924',
 '20200925',
 '20200928',
 '20200929',
 '20201005',
 '20201006',
 '20201007',
 '20201008',
 '20201016',
 '20201019',
 '20201020',
 '20201022',
 '20201027',
 '20201030',
 '20201102',
 '20201103',
 '20201104',
 '20201105',
 '20201106',
 '20201109',
 '20201110',
 '20201112',
 '20201113',
 '20201117',
 '20201118',
 '20201119',
 '20201120',
 '20201123',
 '20201125',
 '20201126',
 '20201130',
 '20201201',
 '20201202',
 '20201203',
 '20201204',
 '20201208',
 '20201210',
 '20201215',
 '20201217',
 '20201218',
 '20201222',
 '20201223',
 '20201224',
 '20201228',
 '20201229',
 '20201230',
 '20210104',
 '20210106',
 '20210107',
 '20210112',
 '20210113',
 '20210118',
 '20210119',
 '20210120',
 '20210122',
 '20210129',
 '20210201',
 '20210202',
 '20210204',
 '20210209',
 '20210210',
 '20210215',
 '20210218',
 '20210224',
 '20210226',
 '20210302',
 '20210310',
 '20210311',
 '20210315',
 '20210317',
 '20210324',
 '20210325',
 '20210329',
 '20210331',
 '20210401',
 '20210402',
 '20210405',
 '20210406',
 '20210407',
 '20210409',
 '20210412',
 '20210413',
 '20210414',
 '20210415',
 '20210416',
 '20210419',
 '20210421',
 '20210422',
 '20210423',
 '20210503',
 '20210504',
 '20210506',
 '20210507',
 '20210513',
 '20210517',
 '20210524',
 '20210527',
 '20210528',
 '20210531',
 '20210601',
 '20210602',
 '20210604',
 '20210609',
 '20210610',
 '20210611',
 '20210614',
 '20210615',
 '20210617',
 '20210621',
 '20210622',
 '20210623',
 '20210624',
 '20210629',
 '20210702',
 '20210705',
 '20210709',
 '20210712',
 '20210714',
 '20210721',
 '20210722',
 '20210726',
 '20210727',
 '20210728',
 '20210730',
 '20210802',
 '20210803',
 '20210817',
 '20210820',
 '20210823',
 '20210824',
 '20210826',
 '20210827',
 '20210830',
 '20210831',
 '20210902',
 '20210903',
 '20210909',
 '20210910',
 '20210913',
 '20210914',
 '20210916',
 '20210924',
 '20210929',
 '20211006',
 '20211012',
 '20211013',
 '20211014',
 '20211018',
 '20211022',
 '20211025',
 '20211029',
 '20211101',
 '20211103',
 '20211108',
 '20211111',
 '20211112',
 '20211118',
 '20211119',
 '20211130',
 '20211201',
 '20211202',
 '20211203',
 '20211206',
 '20211207',
 '20211208',
 '20211214',
 '20211215',
 '20211216',
 '20211220',
 '20211221',
 '20211222',
 '20211223',
 '20211227',
 '20211230',
 '20220106',
 '20220110',
 '20220111',
 '20220119',
 '20220127',
 '20220128',
 '20220203',
 '20220207',
 '20220208',
 '20220209',
 '20220215',
 '20220216',
 '20220217',
 '20220222',
 '20220224',
 '20220225',
 '20220228',
 '20220302',
 '20220308',
 '20220315',
 '20220316',
 '20220317',
 '20220321',
 '20220322',
 '20220324',
 '20220328',
 '20220329',
 '20220330',
 '20220401',
 '20220404',
 '20220407',
 '20220412',
 '20220413',
 '20220418',
 '20220420',
 '20220425',
 '20220427',
 '20220428',
 '20220512',
 '20220516',
 '20220517',
 '20220519',
 '20220520',
 '20220524',
 '20220526',
 '20220527',
 '20220530',
 '20220602',
 '20220615',
 '20220620',
 '20220623',
 '20220624',
 '20220627',
 '20220704',
 '20220706',
 '20220707',
 '20220712',
 '20220714',
 '20220715',
 '20220719',
 '20220720',
 '20220722',
 '20220725',
 '20220726',
 '20220727',
 '20220728',
 '20220729']

In [8]:
#뉴스타이틀 크롤링을 위한 모듈 import
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib import parse

In [9]:
# 팍스넷 크롤링 함수 paxnet_news_title
result_list = []
error_cnt = 0

def paxnet_news_title(dates):
    base_url = 'http://www.paxnet.co.kr/news/much?newsSetId=4667&currentPageNo={}&genDate={}&objId=N4667'
    headers = {
        'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'
    }
    
    for date in dates:
        for page in range(1, 3):
            url = base_url.format(page, date)
            res = requests.get(url, headers=headers)
            if res.status_code == 200:
                soup = BeautifulSoup(res.text)
                title_list = soup.select('ul.thumb-list li')
                for title in title_list:
                    try:
                        news_title = title.select_one('dl.text > dt').text.strip()
                        #"[문자]" 가 붙은 제거
                        #find 함수는 문자열안에 지정한 문자가 있을경우 그 위치(index)를 int로 반환해준다.
                        #지정한 문자를 찾지 못할 경우 -1 을 반환 
                        find_1=news_title.find("[")
                        find_2=news_title.find("]")

                        # find함수의 결과가 -1가 아닌 경우(문자열안에 "[문자]"가 있다.)
                        # 그 위치를 찾아 제거하고 result_list에 추가
                        if find_1 != -1:
                            slice_news_title=news_title[find_1:find_2+1]
                            result_list.append([news_title.strip(slice_news_title).strip()])
                        #find함수의 결과가 -1 일경우(문자열안에 "[문자]"가 없다.)
                        #바로 result_list에 추가
                        elif find_1 == -1:
                            result_list.append([news_title])
                    except:
                        error_cnt += 1
paxnet_news_title(date_0)
title_df_0 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_0['주가변동'] = 0
result_list = []

paxnet_news_title(date_1)
title_df_1 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_1['주가변동'] = 1
result_list = []



#팍스넷 크롤링 데이터 합쳐 csv파일로 만들기
title_df = pd.concat([title_df_0, title_df_1])
#중복 데이터 삭제 
del_title_df = title_df.drop_duplicates(['뉴스제목'])
#데이터프레임 저장 
del_title_df.to_csv('팍스넷_뉴스타이틀.csv', index=False, encoding='utf-8-sig')

In [10]:
# 네이버 크롤링 함수 naver_news_title
result_list = []
error_cnt = 0
def naver_news_title(dates):
    base_url = 'https://finance.naver.com/news/mainnews.naver?date={}&page={}'
    headers = {
        'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'
    }
    for date in dates:
        for page in range(1, 3):
            url = base_url.format(date,page)
            res = requests.get(url, headers=headers)
            if res.status_code == 200:
                soup = BeautifulSoup(res.text)
                title_list = soup.select('#contentarea_left > div.mainNewsList > ul > li > dl')
                for title in title_list:
                    try:
                        news_title = title.select_one('.articleSubject').text.strip()
                        find_1=news_title.find("[")
                        find_2=news_title.find("]")
                        if find_1 != -1:
                            slice_news_title=news_title[find_1:find_2+1]
                            news_title.strip(slice_news_title)
                            result_list.append([news_title.strip(slice_news_title).strip()])
                        elif find_1 == -1:
                            result_list.append([news_title])
                    except:
                        error_cnt += 1

naver_news_title(date_0)
title_df_2 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_2['주가변동'] = 0
result_list = []

naver_news_title(date_1)
title_df_3 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_3['주가변동'] = 1
result_list = []

#네이버 크롤링 데이터 합쳐 csv파일로 만들기
title_df2 = pd.concat([title_df_2, title_df_3])
#중복 데이터 삭제 
del_title_df2 = title_df2.drop_duplicates(['뉴스제목'])
title_df2.to_csv('네이버_뉴스타이틀.csv', index=False, encoding='utf-8-sig')
title_df2

                                         뉴스제목  주가변동
0                         초반 상승세…기업 실적에 다시 관심     0
1                 日 화이트리스트 제외?…코스피 2000선 무너지나     0
2                    美 FOMC에 日 수출규제까지…원화가치 급락     0
3                           美 금리인하에도 시장은 '실망'     0
4        코스피, '日 화이트리스트 제외' 앞두고 하락…7개월 만에 최저치     0
...                                       ...   ...
12650                 美증시 상승에 코스피 강세…2450선 출발     1
12651  美경기 부진, 긴축 속도조절론↑…환율, 1290원대 이틀째 하락 예상     1
12652        GDP '연속 마이너스'에도 美증시↑..."거의 다 왔다"     1
12653       미국 두 분기 연속 역성장 반긴 뉴욕증시…전국 찜통더위 계속     1
12654                   국내 채권형 펀드, 2737억원 순유입     1

[22732 rows x 2 columns]

In [78]:
# 다음 크롤링 함수 daum_news_title
result_list = []
error_cnt = 0
def daum_news_title(dates):
    base_url = "https://news.daum.net/breakingnews/economic/stock?page={1}&regDate={0}"
    headers = {
        'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'
    }
    for date in dates:
        for page in range(1, 3):
            url = base_url.format(date, page)
            res = requests.get(url, headers=headers)
            if res.status_code == 200:
                soup = BeautifulSoup(res.text)
                title_list = soup.select('ul.list_news2.list_allnews > li')
                for title in title_list:
                    try:
                        news_title = title.select_one('.link_txt').text.strip()
                        find_1=news_title.find("[")
                        find_2=news_title.find("]")
                        if find_1 != -1:
                            slice_news_title=news_title[find_1:find_2+1]
                            news_title.strip(slice_news_title)
                            result_list.append([news_title.strip(slice_news_title).strip()])
                        elif find_1 == -1:
                            result_list.append([news_title])
                    except:
                        error_cnt += 1

daum_news_title(date_0)
title_df_4 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_4['주가변동'] = 0
result_list = []

daum_news_title(date_1)
title_df_5 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_5['주가변동'] = 1
result_list = []

#다음 크롤링 데이터 합쳐 csv파일로 만들기
title_df3 = pd.concat([title_df_4, title_df_5])
#중복 데이터 삭제 
del_title_df3 = title_df3.drop_duplicates(['뉴스제목'])
del_title_df3.to_csv('다음_뉴스타이틀.csv', index=False, encoding='utf-8-sig')
del_title_df3

                                      뉴스제목  주가변동
0                  슈프리마아이디 및 한국바이오젠 코스닥 상장     0
1            이주열 한은 총재 "미국 연준, 예상보다 덜 완화적"     0
2              뉴욕증시, 연준 금리 경로 불확실성 속 상승 출발     0
3               美 실업수당 청구 21만5000건..예상치 상회     0
4      英 중앙은행, 올해 성장률 1.3%로 하향조정..기준금리는 동결     0
...                                    ...   ...
12295       29일, 거래소 기관 순매수상위에 운수장비 업종 4종목     1
12296      29일, 거래소 외국인 순매수상위에 운수장비 업종 5종목     1
12297      기다리던 공매도 대책 나왔는데..개미 반응은 싸늘, 왜?     1
12298     효성, 2분기 영업익 356억원..전년대비 83.6% 감소     1
12299     키움투자자산운용, 히어로즈 글로벌리츠이지스액티브ETF 상장     1

[22170 rows x 2 columns]

In [11]:
#뉴스데이터 하나로 합치기 
naver_data = pd.read_csv('네이버_뉴스타이틀.csv')
paxnet_data = pd.read_csv('팍스넷_뉴스타이틀.csv')
all_title = pd.concat([naver_data, paxnet_data])
all_title.to_csv('paxnet_naver.csv')